@using TrailerManagement.Models
@{
    ViewBag.Title = "Driver Concern";
    DriverConcern concern = Model.Concern;
}

<div>
    <h2 class="float-left">Customer Info</h2>
    <a href="/Reporting/CustomerList?customer=@concern.Customer" class="btn btn-primary" style="margin-top:20px;">Return to List</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@concern.Customer</td>
            <td>@concern.DateTaken</td>
            <td>@concern.Notes</td>
        </tr>
    </tbody>
</table>

@if (Model.Images.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DriverConcernImage image in Model.Images)
            {
                <tr>
                    <td id="image_@image.DriverConcernImageGUID">
                        <a href="/DriverImages/@image.ImagePath" download>
                            <img src="/DriverImages/@image.ImagePath" width="250" height="250">
                        </a>
                    </td>
                    <td class="col-xs-3" id="imageNote_@image.DriverConcernImageGUID">@image.Note</td>
                </tr>
            }
        </tbody>
    </table>
}
