@using TrailerManagement.Models;
@{
    ViewBag.Title = "Driver Customers";
}

<h2>Driver Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach(String concern in Model)
        {
            <tr>
                <td>@concern</td>
                <td class="col-xs-1"><a href="/Reporting/CustomerList?customer=@concern" class="btn btn-primary">View Records</a></td>
            </tr>
        }
    </tbody>
</table>