
@{
    ViewBag.Title = "FileAlreadyOpen";
}

<h2>File Already Open</h2>

<p>The file you are trying to create is already being used by another process. Please close the file and try again.</p>

<a href="/Home/Index" class="btn btn-primary">Return</a>