@using TrailerManagement.Models;
@{
    ViewBag.Title = "Payout Vendors";
}

<h2>Payout Info By Vendor</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payout in Model)
        {
            <tr id="@payout">
                <td>@payout</td>
                <td><a href="/Reporting/PayoutInfoByVendor?vendor=@payout">By Date</a></td>
                <td><a href="/Reporting/PayoutInfoByPart?vendor=@payout">By Part</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function ()
        {
            $('table tr').on('click', function ()
            {
                //location.href = "/Reporting/PayoutInfoByVendor?vendor=" + this.id;
            });
        });
    </script>
}
