@using TrailerManagement.Models;
@{
    ViewBag.Title = "Payout Vendors";
}

<h2>Payout Info By Vendor</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model)
        {
            var newVendor = "";
            <tr id="@vendor">
                <td>@vendor</td>
                <td class="col-xs-2">
                    @if (vendor.Contains("&"))
                    {
                        newVendor = vendor.Replace('&', '@');
                    }
                    else
                    {
                        newVendor = vendor;
                    }
                    <a href="/Reporting/PayoutInfoByVendor?vendor=@newVendor">By Date</a>
                    <b>|</b>
                    <a href="/Reporting/PayoutInfoByPart?vendor=@newVendor" id="@newVendor" class="vendor-link">By Part</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function ()
        {
        });
    </script>
}
