@using TrailerManagement.Models;
@{
    ViewBag.Title = "ProductionDateInfo";
    var counter = 0;
}

<h2>Production Date Info</h2>
<table class="table">
    <tbody>
        <tr>
            @foreach (int workstation in Model.Workstations)
            {
                <td colspan="3">@Model.Users[counter]</td>
                counter++;
            }
        </tr>
        <tr>
            @foreach (int workstation in Model.Workstations)
            {
                foreach(ProductionWorkOrder part in Model.Parts)
                {
                    <td>@part.Description</td>
                }
            }
        </tr>
        


        @*set a rowTotal variable to 0
        do a do until x == 0
        inside loop put for loop for number of workstations
        inside that loop, loop through workstation object lists
        print index of inner loop, check using try catch if out of bounds print empty <td></td>
        add column value to rowTotal
        do until x == 0*@
    </tbody>
</table>