
@{
    ViewBag.Title = "Workstation Input";
    var workstationNumber = ViewBag.WorkstationNumber;
}

<h2>Workstation Input</h2>

<div class="well">
    <strong>Stack Quantity</strong>
    <input type="number" id="stackQuantity" class="form-control" />

    <br />
    <input type="button" id="A" class="btn btn-warning" style="font-size:2em;width:15%;" value="A" />
    <input type="button" id="B" class="btn btn-warning" style="font-size:2em;width:15%;" value="B" />
    <input type="button" id="6" class="btn btn-warning" style="font-size:2em;width:15%;" value="6 INCH" />

    <br />
    <br />
        
    <div class="hidden" id="workstations">
        <form action="SubmitWorkstationInput" id="workstationInput">
            <input type="number" name="stackQuantity" id="formStackQuantity" class="form-control hidden" />
            <input type="text" name="partNumber" id="partNumber" class="form-control hidden" />


            <strong>Workstation 1</strong>
            @Html.DropDownList("workstation1", null, "Select Workstation", htmlAttributes: new { @class = "form-control", @id = "workstation1" })
            <strong>Workstation Quantity</strong>
            <input type="number" name="workstation1Quantity" id="workstation1Quantity" class="form-control" />

            <br />
            <strong>Workstation 2</strong>
            @Html.DropDownList("workstation2", null, "Select Workstation", htmlAttributes: new { @class = "form-control", @id = "workstation2" })
            <strong>Workstation Quantity</strong>
            <input type="number" name="workstation2Quantity" id="workstation2Quantity" class="form-control" />

            <br />
            <label for="endOfDay" style="font-size:1.5em">End of Day?</label>
            @Html.CheckBox("endOfDay")
        </form>
        <input type="button" value="Submit" id="stackSubmit" class="btn btn-primary" />
    </div>
</div>

<div id="quantityCheckModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body">
                <strong id="quantityCheck" style="font-size:1.5em">Are you sure yo</strong>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-warning" id="cancel" value="Cancel" data-dismiss="modal">
                <button type="button" class="btn btn-primary" id="confirmSubmit">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            $('#stackSubmit').on('click', function ()
            {
                var stackQuantity = parseInt($('#stackQuantity').val());
                var workstation1Quantity = $('#workstation1Quantity').val();
                if (workstation1Quantity == "")
                {
                    workstation1Quantity = 0;
                }
                else
                {
                    workstation1Quantity = parseInt(workstation1Quantity);
                }

                var workstation2Quantity = $('#workstation2Quantity').val();
                if (workstation2Quantity == "")
                {
                    workstation2Quantity = 0;
                }
                else
                {
                    workstation2Quantity = parseInt(workstation2Quantity);
                }
                console.log(stackQuantity);
                console.log(workstation1Quantity);
                console.log(workstation2Quantity);


                var quantityMatches = false;
                if (stackQuantity == (workstation1Quantity + workstation2Quantity))
                {
                    console.log("got here");
                    $('#workstation1Quantity').css('border-color', 'lightgrey');
                    $('#workstation2Quantity').css('border-color', 'lightgrey');
                    quantityMatches = true;
                }
                else
                {
                    $('#workstation1Quantity').css('border-color', 'red');
                    $('#workstation2Quantity').css('border-color', 'red');
                }

                var workstationsSelected = false;
                var workstation1Ready = false;
                var workstation2Ready = false;
                var workstation1 = $('#workstation1').val();
                var workstation2 = $('#workstation2').val();


                if (workstation1 == "" && $('#workstation1Quantity').val() != "")
                {
                    $('#workstation1').css('border-color', 'red');
                }
                else
                {
                    workstation1Ready = true;
                    $('#workstation1').css('border-color', 'lightgrey');
                } 

                if (workstation2 == "" && $('#workstation2Quantity').val() != "")
                {
                    $('#workstation2').css('border-color', 'red');
                }
                else
                {
                    workstation2Ready = true;
                    $('#workstation2').css('border-color', 'lightgrey');
                }

                if (workstation1Ready && workstation2Ready)
                {
                    $('#workstation1').css('border-color', 'lightgrey');
                    $('#workstation2').css('border-color', 'lightgrey');
                    workstationsSelected = true;
                }


                if (quantityMatches && workstationsSelected)
                {
                    $('#workstationInput').submit();
                }
            });

            $('#A').on('click', function ()
            {
                if ($('#stackQuantity').val() != "")
                {
                    $('#A').addClass('btn-green');
                    $('#B').removeClass('btn-green');
                    $('#6').removeClass('btn-green');
                    $('#formStackQuantity').val($('#stackQuantity').val());
                    $('#partNumber').val('50-0001');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
                }
                else
                {
                    $('#stackQuantity').css('border-color', 'red');
                }
            });

            $('#B').on('click', function ()
            {
                if ($('#stackQuantity').val() != "")
                {
                    $('#B').addClass('btn-green');
                    $('#A').removeClass('btn-green');
                    $('#6').removeClass('btn-green');
                    $('#formStackQuantity').val($('#stackQuantity').val());
                    $('#partNumber').val('50-0004');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
                }
                else
                {
                    $('#stackQuantity').css('border-color', 'red');
                }
            });

            $('#6').on('click', function ()
            {
                if ($('#stackQuantity').val() != "")
                {
                    $('#6').addClass('btn-green');
                    $('#B').removeClass('btn-green');
                    $('#A').removeClass('btn-green');
                    $('#formStackQuantity').val($('#stackQuantity').val());
                    $('#partNumber').val('50-0308');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
                }
                else
                {
                    $('#stackQuantity').css('border-color', 'red');
                }
            });
        });
    </script>    
}