
@{
    ViewBag.Title = "Workstation Input";
    var workstationNumber = ViewBag.WorkstationNumber;
}

<h2>Workstation Input</h2>

<div class="well">
    <input type="button" id="fullStack" class="btn btn-warning" value="Full Stack" style="font-size:2em;width:30%;" />
    <input type="button" id="partialStack" class="btn btn-warning" value="Partial Stack" style="font-size:2em;width:30%;" />
    <br />
    <br />
    <div class="hidden" id="parts">
        <input type="button" id="A" class="btn btn-warning" style="font-size:2em;width:15%;" value="A" />
        <input type="button" id="B" class="btn btn-warning" style="font-size:2em;width:15%;" value="B" />
        <input type="button" id="6" class="btn btn-warning" style="font-size:2em;width:15%;" value="6 INCH" />
        <input type="button" id="OTHER" class="btn btn-warning" style="font-size:2em;width:15%;" value="OTHER" />
    </div>


    <input type="number" id="quantity" class="hidden" />
    

    <div class="hidden" id="workstations">
        <form action="SubmitWorkstationInput" id="workstationInput">
            <strong id="formStackQuantityLabel" class="hidden">Stack Quantity</strong>
            <input type="number" name="stackQuantity" id="formStackQuantity" class="form-control" />

            <strong id="partNumberLabel" class="hidden">Part Number</strong>
            <input type="text" name="partNumber" id="partNumber" class="form-control hidden" />
            <br />


            <strong>Workstation 1</strong>
            @Html.DropDownList("workstation1", null, "Select Workstation", htmlAttributes: new { @class = "form-control", @id = "workstation1" })
            <strong>Workstation Quantity</strong>
            <input type="number" name="workstation1Quantity" id="workstation1Quantity" class="form-control" />

            <br />
            <strong>Workstation 2</strong>
            @Html.DropDownList("workstation2", null, "Select Workstation", htmlAttributes: new { @class = "form-control", @id = "workstation2" })
            <strong>Workstation Quantity</strong>
            <input type="number" name="workstation2Quantity" id="workstation2Quantity" class="form-control" />

            <br />
            <label for="endOfDay" style="font-size:1.5em">End of Day?</label>
            @Html.CheckBox("endOfDay")
        </form>
        <input type="button" value="Submit" id="stackSubmit" class="btn btn-primary" />
    </div>
</div>

<div id="quantityCheckModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body">
                <strong id="quantityCheck" style="font-size:1.5em">Quantity entered does not match stack quantity.</strong>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-warning" id="cancel" value="Close" data-dismiss="modal">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            $('#stackSubmit').on('click', function ()
            {
                var stackQuantity = $('#formStackQuantity').val();
                if ($('#quantity').val() != "")
                {
                    $('#formStackQuantity').val(stackQuantity);
                }
                
                console.log(stackQuantity);
                var workstation1Quantity = $('#workstation1Quantity').val();
                if (workstation1Quantity == "")
                {
                    workstation1Quantity = 0;
                }
                else
                {
                    workstation1Quantity = parseInt(workstation1Quantity);
                }

                var workstation2Quantity = $('#workstation2Quantity').val();
                if (workstation2Quantity == "")
                {
                    workstation2Quantity = 0;
                }
                else
                {
                    workstation2Quantity = parseInt(workstation2Quantity);
                }
                
                var quantityMatches = false;
                if (stackQuantity == (workstation1Quantity + workstation2Quantity))
                {
                    $('#workstation1Quantity').css('border-color', 'lightgrey');
                    $('#workstation2Quantity').css('border-color', 'lightgrey');
                    quantityMatches = true;
                }
                else
                {
                    $('#quantityCheckModal').modal();
                    $('#workstation1Quantity').css('border-color', 'red');
                    $('#workstation2Quantity').css('border-color', 'red');
                }

                var workstationsSelected = false;
                var workstation1Ready = false;
                var workstation2Ready = false;
                var workstation1 = $('#workstation1').val();
                var workstation2 = $('#workstation2').val();


                if (workstation1 == "" && ($('#workstation1Quantity').val() != "" || $('#workstation1Quantity').val() != 0))
                {
                    $('#workstation1').css('border-color', 'red');
                }
                else
                {
                    workstation1Ready = true;
                    $('#workstation1').css('border-color', 'lightgrey');
                } 

                if (workstation2 == "" && ($('#workstation2Quantity').val() != "" || $('#workstation2Quantity').val() != 0))
                {
                    $('#workstation2').css('border-color', 'red');
                }
                else
                {
                    workstation2Ready = true;
                    $('#workstation2').css('border-color', 'lightgrey');
                }

                if (workstation1Ready && workstation2Ready)
                {
                    $('#workstation1').css('border-color', 'lightgrey');
                    $('#workstation2').css('border-color', 'lightgrey');
                    workstationsSelected = true;
                }


                if (quantityMatches && workstationsSelected)
                {
                    $('#workstationInput').submit();
                }
            });

            $('#fullStack').on('click', function ()
            {
                $('#fullStack').addClass('btn-green');
                $('#partialStack').removeClass('btn-green');

                $('#formStackQuantityLabel').addClass('hidden');
                $('#formStackQuantity').addClass('hidden');

                $('#formStackQuantity').val(20);
                $('#quantity').val(20);

                $('#parts').removeClass('hidden');
            });

            $('#partialStack').on('click', function ()
            {
                $('#partialStack').addClass('btn-green');
                $('#fullStack').removeClass('btn-green');

                $('#formStackQuantityLabel').removeClass('hidden');
                $('#formStackQuantity').removeClass('hidden').val("");
                $('#quantity').val("");
                $('#parts').removeClass('hidden');
            });

            $('#A').on('click', function ()
            {
                    $('#A').addClass('btn-green');
                    $('#B').removeClass('btn-green');
                    $('#6').removeClass('btn-green');
                    $('#OTHER').removeClass('btn-green');

                    $('#formStackQuantity').val($('#quantity').val());

                    $('#partNumberLabel').addClass('hidden');
                    $('#partNumber').addClass('hidden');
                    $('#partNumber').val('50-0001');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
            });

            $('#B').on('click', function ()
            {
                    $('#B').addClass('btn-green');
                    $('#A').removeClass('btn-green');
                    $('#6').removeClass('btn-green');
                    $('#OTHER').removeClass('btn-green');

                    $('#formStackQuantity').val($('#quantity').val());

                    $('#partNumberLabel').addClass('hidden');
                    $('#partNumber').addClass('hidden');
                    $('#partNumber').val('50-0004');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
                
            });

            $('#6').on('click', function ()
            {
                    $('#6').addClass('btn-green');
                    $('#B').removeClass('btn-green');
                    $('#A').removeClass('btn-green');
                    $('#OTHER').removeClass('btn-green');


                    $('#formStackQuantity').val($('#quantity').val());

                    $('#partNumberLabel').addClass('hidden');
                    $('#partNumber').addClass('hidden');

                    $('#partNumber').val('50-0308');
                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
                
            });

            $('#OTHER').on('click', function ()
            {
                    $('#OTHER').addClass('btn-green');
                    $('#B').removeClass('btn-green');
                    $('#6').removeClass('btn-green');
                    $('#A').removeClass('btn-green');

                    $('#formStackQuantity').val($('#quantity').val());

                    $('#partNumber').val("");
                    $('#partNumberLabel').removeClass('hidden');
                    $('#partNumber').removeClass('hidden');

                    $("#workstations").removeClass('hidden');
                    $('#stackQuantity').css('border-color', 'lightgray');
            });

        });
    </script>    
}