@model TrailerManagement.Models.DriverConcern
@{
    ViewBag.Title = "Create Driver Concern";
}

<h2>New Driver Concern</h2>

<div class="well">
    @using (Html.BeginForm("CreateDriverConcern", "Trailer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-2 text-center">
                    <strong>Issue</strong>
                </div>
                <div class="col-xs-6">
                    @Html.DropDownList("concerns", null, "- - - Pick One - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "concerns" })
                </div>
            </div>
            <div class="form-group">


                <div class="col-xs-2 text-center">
                    <strong>Company</strong>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="customer" name="customer" class="form-control" placeholder="Company">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-center">
                    <strong>Notes</strong>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="notes" name="notes" class="form-control" placeholder="Note">
                </div>
            </div>
            <div class="col-xs-offset-2">
                <input type="submit" value="Continue" class="btn btn-primary" />
                <a href="/Home/Index" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    }
</div>


@section scripts
{
    <script>
        $(function ()
        {
            $('#concerns').on('change', function ()
            {
                var option = $(this).val();

                if (option == "Pallet USA Issue")
                {
                    $('#customer').val("Pallet USA");
                }
                else
                {
                    $('#customer').val("");
                }
            })
        });
    </script>  
}