
@{
    ViewBag.Title = "InventoryInput";
    var counter = 1;
}

<h2>Inventory Input</h2>

<div class="well">
    @using (Html.BeginForm("InputTest", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div id="part">
        <div class="form-group">
            <label for="partNumbers">Part Number</label>
            @Html.DropDownList("partNumbers", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "partNumbers" })
            @Html.DropDownList("partNumbers", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "partNumbers" })
        </div>
        <div id="stacks" class="form-group">
            <div class="form-group">
                <label for="stack_@counter">Stack @counter</label>
                <input type="number" placeholder="Stack @counter Quantity" id="stack_@counter" name="stack_@counter" class="form-control" />

            </div>

        </div>
        <br />

        <input type="button" class="btn btn-primary" value="Add Stack" id="addStack" />
        <input type="button" class="btn btn-primary hidden" value="Remove Stack" id="removeStack" />



    </div>
        <br />
        <input type="submit" class="btn btn-primary" />

    }
</div>

@section scripts
{
    <script>
        $(function ()
        {
            var counter = 1;
            $('#addStack').on('click', function ()
            {
                counter++;
                console.log(counter);
                if (counter > 1)
                {
                    $('#removeStack').removeClass('hidden');
                }
                $('#stacks').append("<div class=\"form-group\" id=\"stack_" + counter + "\">" +
                    "<label for=\"stack_" + counter + "\">Stack " + counter + "</label>" +
                    "<input type =\"number\" placeholder=\"Stack " + counter + " Quantity\" class=\"form-control\" id=\"stack_" + counter + "\" name=\"stack_" + counter + "\"/>" + 
                    "</div>");
            });

            console.log(counter);
            

            $('#removeStack').on('click', function ()
            {
                $('#stack_' + counter).remove();
                counter--;
                if (counter < 1)
                {
                    counter = 1;
                }
                if (counter == 1)
                {
                    $('#removeStack').addClass('hidden');
                }
            });
        });
    </script>    
}