@using TrailerManagement.Models;
@{
    ViewBag.Title = "Location Summary";
    var rows = (List<Object>)Model.Stacks;
    var rowCount = 1;
}

<h2>Location Summary</h2>
@foreach (var row in Model.Stacks)
{
    var totalInputs = row.Count;

    var maxStackNumber = row[row.Count - 1].StackNumber;
    List<String> partNumbers = new List<string>();
    for (int x = 0; x < totalInputs; x++)
    {
        if (!partNumbers.Contains(row[x].PartNumber))
        {
            partNumbers.Add(row[x].PartNumber);
        }
    }
    
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-xs-1" style="background-color:white">Row</th>
                <th class="col-xs-1" style="background-color:white">Part Number</th>
                <th class="col-xs-3" style="background-color:white">Site-Description/Notes</th>
                @for (var x = 1; x <= maxStackNumber; x++)
                {
                    <th class="text-center" style="background-color:white">Stack @x</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var part in partNumbers)
            {
                int[] stacks = new int[maxStackNumber];
                <tr>
                    <th>@rowCount</th>
                    <td>@part</td>
                    <td>Description Here</td>
                    
                    @foreach(var stack in row)
                    {
                        if(stack.PartNumber == part)
                        {
                            stacks[stack.StackNumber - 1] = stack.StackQuantity;
                        }
                    }

                    @for(int x = 0; x < stacks.Length; x++)
                    {
                        if(stacks[x] != 0)
                        {
                            <td class="text-center">
                                @stacks[x]
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    rowCount++;
}